<div class="profile">
  <img class="profile__avatar" src="assets/images/profile_logo.jpg" />

  <div class="profile__descr">
    <h3 class="profile__descr-title">{{ userName }}</h3>
    <div class="profile__descr-item">Имя пользователя: {{ userName }}</div>
    <div class="profile__descr-item">Email: {{ userMail }}</div>
    <div class="profile__descr-item">Пользователь PlayMix</div>
  </div>
</div>

<button class="add-article__btn">
  Создать запись
  <img
    src="assets/images/addnote_120243.png"
    style="align-items: center"
    width="25px"
    height="25px"
  />
</button>

<app-add-post></app-add-post>
<div class="article-list">
  <br>
  <h2 class="article-list__title">Мои записи</h2>
  <li *ngFor="let post of posts">
    <p><b>{{post.title}}</b></p>
    <p>{{post.text}}</p>
    <a class="add-article__btn"
       routerLink="/system/edit-post/{{post.id}}" routerLinkActive="active">Редактировать:</a>
    <button (click)="deleteEntry(post.getId())" style="float: right" class="article-list__edit-btn">
      Удалить запись
    </button>

  </li>
</div>

<!--<h2 class="article-list__title">Редактировать мои записи</h2>
<app-edit-post
[postsEdit]="posts"
(onPostEdit)="postWasEdited($event)"
></app-edit-post>-->

<footer class="footer">PlayMix (2020). All rights reserved</footer>

